<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926"/> 
  <xacro:property name="mass" value="0.4" />
  <xacro:property name="length" value="0.1" />
  <xacro:property name="width" value="0.06" />
  <xacro:property name="height" value="0.06" />

  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="mid360" params="name:='' parent:= 'base_link' topic:='mid360' *origin ">

    <link name="${name}">
      <visual>
        <origin xyz="0.025 -0.0265 -0.025" rpy="${pi/2} 0 ${pi}"/>
        <geometry>
          <mesh filename="package://fishbot_navigation2/meshes/mid360.stl" scale="0.0008 0.0008 0.0008"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.025 -0.0265 -0.025" rpy="${pi/2} 0 ${pi}"/>
        <geometry>
          <mesh filename="package://fishbot_navigation2/meshes/mid360.stl" scale="0.0008 0.0008 0.0008"/>
        </geometry>
      </collision>
      <xacro:box_inertia m="${mass}" w="${width}" h="${height}" d="${length}"/>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    </xacro:macro>

</robot>